<div id="container" class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-4 col-lg-3">

      <form [formGroup]="form" (ngSubmit)="authUser()">
        <div class="mb-4">
          <input type="email" class="form-control form-control-lg" formControlName="username" id="username" placeholder="Username">
        </div>
        <div class="mb-4">
          <input type="password" class="form-control form-control-lg" formControlName="password" id="password" placeholder="Password">
        </div>

        <div class="d-grid mb-4">
          <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>

        <div class="alert alert-primary" role="alert" *ngIf="message">
          {{ message }}
        </div>
      </form>

    </div>
  </div>

</div>
